.sectionExperience {
  padding: 5rem;
  color: var(--textColor);
}
.carouselWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.experienceContainer {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  padding: 80px;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
}

.experienceContainer.visible {
  opacity: 1;
  transform: translateY(0);
}
.cardContainer {
  scroll-snap-align: center;
  margin-right: 16px;
  gap: 0.5rem;
  max-width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease, all 0.3s ease;
}
.active {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 10px 15px rgba(var(--accent-foreground-rgb), 0.3);
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.inactive {
  opacity: 0.6;
  transform: scale(0.9);
}

/* Hover */
.inactive:hover {
  box-shadow: 0 10px 15px rgba(var(--accent-foreground-rgb), 0.1);
}

.containerPosition {
  display: flex;
  justify-content: space-between;
}

.position {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--foreground);
}

.actual {
  color: var(--accent);
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--sucess);
  padding: 0 0.5rem;
  border-radius: 1.5rem;
  line-height: 1.5rem;
}

.company {
  font-size: 1.12rem;
  line-height: 1.75rem;
  font-weight: bold;
  color: var(--primary);
}
.period {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: var(--muted-foreground);
}
.description {
  color: var(--textMuted);
}
.responsabilities {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.listResp {
  list-style-type: disc;
  list-style-position: inside;
}

.listResp li + li {
  margin-top: 0.25rem;
}
.listItems {
  font-size: 0.9rem;
  line-height: 1.25rem;
}
.listTecnologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.itemTec {
  background-color: var(--accent);
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  border-radius: 1.5rem;
}
.icons {
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.3s ease;
  color: var(--textMuted);
}

.icons:hover {
  color: var(--textColor);
  transform: scale(1.05);
}
@media (max-width: 480px) {
  .sectionExperience {
    padding: 0.5rem;
  }
  .cardContainer {
    max-width: 300px;
  }
  .containerPosition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .actual {
    width: 8rem;
  }
}
