.sectionContactMe {
  background: var(--accent);
  background: linear-gradient(0deg, var(--accent) 0%, var(--background) 100%);
  padding: 5rem;
  color: var(--textColor);
}
.containerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 5rem;
}
.info {
  display: flex;
  background-color: var(--background);
  border: 1px solid var(--border);
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.itemsInfo {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}
.icon {
  padding: 1rem;
  border-radius: 50%;
}

.formContainer {
  display: flex;
  background-color: var(--background);
  border: 1px solid var(--border);
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: fit-content;
}

.heading {
  font-size: 1.25rem; /* text-xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
}

.paragraph {
  color: var(--muted-foreground); /* text-muted-foreground */
  margin-bottom: 0.75rem; /* mb-3 */
}

.available {
  color: #16a34a; /* text-green-600 */
  font-weight: 500; /* font-medium */
}
.availability {
  margin-left: 1rem;
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nameAndEmail {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.inputForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.inputForm label {
  font-weight: 500;
}
.inputForm input {
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 1rem;
  border-radius: 8px;
  color: var(--textColor);
}
.inputForm textarea {
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 1rem;
  color: var(--textColor);

  border-radius: 8px;
}
.sendBtn {
  outline: none;
  border: none;
  padding: 0.7rem;
  background-color: var(--primary);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.sendBtn:hover {
  background-color: rgba(var(--primary-rgb), 0.7);
}
